* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    color: #ffffff;
    background-color:#50D8D7; 
    display: flex;
    align-items: center;
    justify-content: center;   
    flex-direction: column;
}
.game-board {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.cell {
    width: 100px;
    height: 100px;
    margin: 0.1rem;
    background-color:#474044;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3em;
    border-radius:6px;
    cursor: pointer;
}
.row {
    display: flex;
}
button {
    margin-top: 20px;
    padding: 20px 20px;
    font-size: 1.2em;
    border-radius: 10px;
    border: none;
    background-color: #474044;
    color: #ffffff;
    cursor: pointer;
}
#status {
    margin-bottom: 20px;
    font-size: 1.5em;
}
